img {
    width: 300px;
    border-radius: 5px;
}

.country {
    background-color: rgb(77, 177, 144);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 5px gray;
}

h2 {
    color: #722c2c;
}